@import "tailwindcss";

:root {
  --primary: #02cf04;
}

@theme {
  --color-primary: var(--primary);
}

body {
  font-family: "Libre Franklin", sans-serif;
}

/* Shine animation */
@keyframes shine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.animate-shine {
  background-size: 200% auto;
  box-shadow: 0 0 8px #00ba0f;
  animation: shine 2s linear infinite;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a; /* Track color */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary); /* Thumb color */
  border-radius: 4px;
  transition: background 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background: #00ba0f; /* Hover color */
}

/* Firefox scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) #1a1a1a;
}
